                <div class="columns large-3 medium-4 small-12">
                  <div class="card">
                    <div class="splash">
                      <img src="/{{ THEME_STATIC_DIR }}/img/universe/icn-mobilehosting.png" alt="Custom">
                      <h2>
                        <span class="caps">Hosted Private Cloud</span>
                      </h2>
                    </div>
                    <ul>
                      <li>
                        <a href="#">Lien 1</a>
                        <a href="#">Lien 2</a>
                        <a href="#">Lien 3</a>
                      </li>
                    </ul>
                  </div>
                </div>