{% extends "entity.html" %}

{% block css%}
    {{ super() }}
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/home.css" />
{% endblock %}

{% block hero %}
  <div class="entry-content text-left">
    <div class="columns small-12 large-8">
      <h1>{{entity.title}}</h1>
      <div class="excerpt">
        <p class="first last">{{entity.excerpt}}</p>
      </div>
    </div>
    <div class="columns small-12 large-4">
      <img src="/{{ THEME_STATIC_DIR }}/img/header.svg" alt="">
    </div>
  </div>
{% endblock %}

{% block above_content %}
    {% include 'components/topguides/topguides.html' %}
{% endblock %}

{% block content_wrapper %}
  {% block content %}

      {{ super() }}

            <div id="content">
              <div class="page-top"></div>
              <div id="homepage">
                <div class="section-title">{{'Our tutorials by cloud universe'|translate(entity.locale)}}</div>
                <div class="row">
                {% for l1item in entity.children|sort(attribute='order') %}
                  {% if l1item.order == "2" %}
                    {# {% include 'components/custom/customCard.html' %} @TODO, remove comments when translation are ready #}
                  {% endif %}
                  <div class="columns large-4 medium-4 small-12">
                    <div class="card">
                      <div class="splash">
                        <img src="/{{ THEME_STATIC_DIR }}/img/universe/{{l1item.img}}" alt="{{l1item.title}}">
                        <h2>
                          <span class="caps">{{l1item.title}}</span>
                        </h2>
                      </div>
                      <ul>
                        {% for l2item in l1item.children|sort(attribute='order') %}
                        <li>
                          <a href="/{{l2item.url}}">{{l2item.title}}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                {% if loop.index > 0 and loop.index % 3 == 0 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
              </div>
              <div class="page-bottom"></div>
            </div>
  {% endblock %}
{% endblock %}
