#homepage {
	max-width: 1380px;
	margin: 0 auto;
}
#homepage > div {
	list-style: outside none none;
	padding: 0 5 !important;
	margin-top: 40px;
}
#homepage > div > li {
	display: block;
	float: left;
	margin-right: 1%;
	width: 32%;
}
#homepage > div > li > a {
	color: white;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
}
#homepage > div > li > a > p {
	margin-bottom: 5px;
}
#homepage > div ul {
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}
#homepage > div ul li a {
    color: #0050D7;
    display: block;
    font-family: "SourceSansPro",sans-serif !important;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 600;
    padding: 4px 15px;
    text-align: left;
    text-decoration: none;}
#homepage > div ul li a::after {
    content: url(../img/arrow-right.svg);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transform: scale(0.6);
}
#homepage > div ul li a:hover {
	color: #66c9f0;
}
#homepage .splash {
	text-align: center;
	padding: 15px 0;
}
#homepage .splash img {
	position: relative;
	margin: 0;
	max-width: 100px;
	margin-bottom: 16px;
}
#homepage .splash h2 {
	color: #00185E;
	font-family: "SourceSansPro",sans-serif !important;
	font-size: 34px;
	font-weight: 600;
	position: relative;
	margin: 0 !important;
}
#homepage .card {
	border: 1px solid #85D9FD;
	overflow: hidden;
	border-radius: 13px;
	margin-bottom: 20px;
}
#homepage .row {
	margin-top: 0px;
}
@media (min-width: 768px) {
	#homepage .card {
		margin-bottom: 0;
	}
	#homepage .row {
		margin-top: 40px;
	}
}
#homepage .card .splash {
  background-color: #F5FEFF;
}
#homepage .splash.green {
	background: #5da999 none repeat scroll 0 0;
}
#homepage .splash.blue {
	background: #35698b none repeat scroll 0 0;
}
#homepage .splash.gold {
	background: #e0ae00 none repeat scroll 0 0;
}
#homepage .splash.grey {
	background: #616161 none repeat scroll 0 0;
}
#homepage .splash.red {
	background: #ED4036 none repeat scroll 0 0;
}
#homepage .splash.light-blue {
	background: #3399FF none repeat scroll 0 0;
}
#homepage .splash.violet {
	background: #9900CC none repeat scroll 0 0;
}
#homepage .splash.orange {
	background: #FF3300 none repeat scroll 0 0;
}
#homepage .section-title {
  height: 56px;
  margin-bottom: 2rem;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #00185E;
}
#homepage .columns:last-child:not(:first-child) {
  float: left;
}
@media (min-width: 768px) {
  #homepage .section-title {
  	text-align: left;
    padding-left: 8rem;
  }
}
