#sidebar-nav.affix { position: fixed; top: 64px; width: 233px; }
#sidebar-nav ul { list-style: none; margin: 0; padding: 0; display: block; }
#sidebar-nav ul ul { font-size: 0.8rem; border-bottom: none; margin-left: 14px;}
#sidebar-nav ul ul ul{display: none;}

#sidebar-nav a {display: block; padding: 1px 0 1px 12px; margin: 4px 0; line-height: 1.3em; color: #17273b; border-left: solid white 2px !important; font-size: 17px; font-weight: bold}
#sidebar-nav a:hover {background-color: transparent;}
#sidebar-nav ul li ul li a {font-weight: normal;}
#sidebar-nav:not(.toc-first-level) li > a:focus, #sidebar-nav:not(.toc-first-level) li.active > a { color: #39bee0!important; border-left: solid #39bee0 2px!important; }
#sidebar-nav:not(.toc-first-level) li.active > ul {display: block;}
#sidebar-nav ul ul ul a{font-size: 1em; }

.actions a{font-weight: normal!important; font-size: 0.9em!important;}

#sidebar-nav.affix-bottom { position: absolute; }
