<hr/>
<div class="feedbacks">
    <h3>{{ 'Did you find this guide useful?' | translate(entity.global) }}</h3>
    <div id="question">
        <button type="button"
            onclick="OvhDoorbell.helpful();OvhDoorbell.sendPositiveFeedback();">
            {{ 'Yes' | translate(entity.global) }}
        </button>
        <button type="button" onclick="OvhDoorbell.unhelpful();">
            {{ 'No' | translate(entity.global) }}
        </button>
    </div>
    <div id="form">
        <p class="yes bold">
            {{ 'Please feel free to give any suggestions in order to improve this documentation.' | translate(entity.global) }}
        </p>

        <div class="no bold">
            <p>
                {{ 'Whether your feedback is about images, content, or structure, please share it, so that we can improve it together.' | translate(entity.global) }}
            </p>
            <p>
                {{ 'Your support requests will not be processed via this form. To do this, please use the' | translate(entity.global) }}
                <a target="_blank"
                    href="https://www.ovh.com/manager/dedicated/#/support/tickets/new">
                    "{{ 'Create a ticket' | translate(entity.global) }}"
                </a>
                {% if entity.locale != 'en' %}.{% else %}form.{% endif %}
            </p>
        </div>
        <textarea rows="2"></textarea>
        <button type="button" class="disabled" onclick="OvhDoorbell.sendFeedback();">
            {{ 'Send' | translate(entity.global) }}
        </button>
    </div>
    <div id="thanks">
        <p class="bold">
        {{ 'Thank you. Your feedback has been received' | translate(entity.global) }}.
        </p>
    </div>
</div>
