.deprecated-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.deprecated-hidden {
    opacity: 0;
    visibility: hidden;
}

.deprecated-modal,
.deprecated-block {
    transition: all .3s ease-in-out;
}

.deprecated-modal__background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}

.deprecated-modal__modal {
    position: relative;
    width: auto;
    max-width: 900px;
    height: auto;
    padding: 3rem 2.5rem;
    margin: 2rem;
    background-color: white;
    border-radius: 5px;
}

.deprecated-modal__modal .close {
    position: absolute;
    right: .7rem;
    top: .4rem;
    float: none; /* cancel bootstrap styling... */
    font-size: 2rem;
    line-height: 2rem;
}

.deprecated-modal__modal .close::after {
    display: inline-block;
    content: '\00d7';
}

.deprecated-modal__modal p {
    margin: 0;
}

.deprecated-modal__modal p, 
.deprecated-modal a {
    font-size: 1.2rem;
}

.deprecated-modal__modal a {
    color: #35698b;
}

.deprecated-modal__modal img {
    display: block;
    height: 1.5rem;
    margin-top: 2.5rem;
    margin-right: auto;
    margin-left: auto;
}

.deprecated-block {
    display: flex;
    justify-content: center;
    background-color: #35698b;
    padding: 1rem 2rem;;
}

.deprecated-block p, 
.deprecated-block a {
    font-size: 1.5rem;
    color: white;
}

.deprecated-block p {
    margin: 0;
}
