<div class="deprecated-modal deprecated-hidden">
    <div class="deprecated-modal__background"></div>
    <div class="deprecated-modal__modal">
        <span class="close"></span>
        <p>
            Dear Customer,<br>
            Regrettably, our guides are no longer maintained in your chosen language. Please visit our documentation home page for up-to-date help with our services: <a href="https://docs.ovh.com/gb/en/">https://docs.ovh.com/gb/en/</a>
        </p>
        <img src="/{{ THEME_STATIC_DIR }}/img/fr/images/logo/ovhLogoColor.svg" alt="OVHCloud logo">
    </div>
</div>
